<% @bm_test = [["joins", 0.57267], ["includes", 3.990955], ["loops", 398.809833]] %>
        <p><em>Winner: Joins</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>