<% @bm_test = [["joins", 0.418996], ["includes", 3.916343], ["loops", 383.501784]] %>
        <p><em>Winner: Joins</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>