<% @bm_test = [["includes", 7.874203], ["joins", 46.258004], ["loops", 47.354398]] %>
        <p><em>Winner: Includes</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>