<% @bm_test = [["includes", 2.108332], ["joins", 5.832528], ["loops", 55.460156]] %>
        <p><em>Winner: Includes</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>