<% @bm_test = [["loops", 1.182309], ["joins", 1.257683], ["includes", 3.362311]] %>
        <p><em>Winner: Loops</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>