<% @bm_test = [["loops", 2.473979], ["joins", 2.584225], ["includes", 6.959763]] %>
        <p><em>Winner: Loops</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>