<% @bm_test = [["joins", 0.226251], ["includes", 1.806654], ["loops", 53.107607]] %>
        <p><em>Winner: Joins</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>