<% @bm_test = [["includes", 3.508576], ["joins", 19.604497], ["loops", 19.8381]] %>
        <p><em>Winner: Includes</em></p>
        <dl>
          <% @bm_test.each do |qry| %>
            <dt><%= qry.first.titleize %>:</dt> 
            <dd><%= number_to_human(qry.last) %> seconds</dd>
          <% end %>
        </dl>