<h1>Joins, Includes, or Loops: what's the fastest method?</h1>

<p>Test their speed in three difference scenarios</p>

<h2>Scenario 1</h2>
<p>An index of one model</p>

<h2>Scenario 2</h2>
<p>An index with attributes from 2 models</p>

<h2>Scenairo 3</h2>
<p>An index with attributes from 3 models</p>



<h2>Which do you think is fastest?</h2>

<a href="/artifacts/one_model">Scenario 1</a>

<ul>
  <li>Joins</li>
  <li>Includes</li>
  <li>Loops</li>
</ul>

<a href="/artifacts/two_model">Scenario 2</a>

<ul>
  <li>Joins</li>
  <li>Includes</li>
  <li>Loops</li>
</ul>

<a href="/artifacts/three_model">Scenario 3</a>

<ul>
  <li>Joins</li>
  <li>Includes</li>
  <li>Loops</li>
</ul>